.box-shadow {
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.1);
}

.text-animation, .loader-animation {
    animation: faded 2s infinite; 
}

.clip-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clip-text-1 {
    line-clamp: 1;
    -webkit-line-clamp: 1;
}
.clip-text-2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

@keyframes faded {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
